
# Large directories
venv*/*
runs*/*
results/*
results_korean/*
results_twitter/*

# Cached data after training model
data/*/*/*/*/cached*
data/*/*/*/cached*
data/*/*/cached*

# Others
.idea/*
*.pyc
.DS_Store
/get_results_mean_std.py
